{  CIDER: {    dependencies: {      nuget: "",      tatin: "packages",    },    dependencies_dev: {      tatin: "packages_dev=TestCases",    },    distributionFolder: "Dist",    init: "Initialize",    make: "Admin.Make",    parent: "#",    projectSpace: "Plodder",    project_url: "https://github.com/aplteam/Plodder",    source: "APLSource",    tests: "Admin.RunTests 1",  },  LINK: {    codeExtensions: [      "apla",      "aplf",      "aplo",      "apln",      "aplc",      "apli",      "dyalog",      "apl",      "mipage",    ],    forceFilenames: 1,    watch: "ns",  },  SYSVARS: {    io: 1,    ml: 1,  },  USER: {    convertFromAcre: 1,    keepHistory: "Off",  },}
