<tool name="Plodder">  <version>0.6.0</version>  <date>2021-06-16</date>  <container>#.Plodder</container>  <needs>    <script>APLTreeUtils2</script>    <script>FilesAndDirs</script>    <script>HandleError</script>    <script>IniFiles</script>    <script>MarkAPL</script>    <script>OS</script>    <script>WindowsEventLog</script>    <script>WinRegSimple</script>    <script development="true">Tester2</script>    <script development="true">CodeCoverage</script>  </needs>  <autoload>1</autoload>  <lx>#.Plodder.Run 0</lx>  <buildid>90</buildid></tool>
