<tool name="Plodder">  <version>0.4.0</version>  <date>2020-12-03</date>  <container>#.Plodder</container>  <needs>    <script>APLTreeUtils2</script>    <script>FilesAndDirs</script>    <script>HandleError</script>    <script>IniFiles</script>    <script>MarkAPL</script>    <script>OS</script>    <script>WindowsEventLog</script>    <script>WinRegSimple</script>    <script development="true">Tester2</script>    <script development="true">CodeCoverage</script>  </needs>  <autoload>1</autoload>  <lx>#.Plodder.Run 0</lx>  <buildid>84</buildid></tool>
